@import "./fonts.scss";

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

h1 {
  @include header;
  margin: 0;
}

h2 {
  @include subheader;
  margin: 0;
}

h3 {
  @include button;
  margin: 0;
}

h4 {
  @include body-bold;
  margin: 0;
}

p {
  @include body;
  margin: 0;
}
