@import "../../styles/partials/colours.scss";
@import "../../styles/partials/resets";
@import "../../styles/partials/fonts";
.home {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  &__hero {
    background: linear-gradient(
        rgba(255, 255, 255, 0.15),
        rgba(255, 255, 255, 0.15)
      ),
      url("../../assets/images/home-hero.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 900px;
    width: 100%;
    padding-top: 190px;
    padding-left: 204px;
    // padding-right: 204px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 200px;

    &-container {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
    &-header {
      color: white;
    }

    &-subheader {
      color: white;
    }
  }
  &__steps {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 140px;
    width: 100%;

    &-step {
      width: 33%;
    }

    &-container {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      gap: 24px;
      padding-bottom: 40px;
    }

    &-card {
      width: 100%;
      background-color: white;
      height: 100%;
    }

    &-img {
      background-image: url("../../assets/images/home-card1.png");
      background-size: cover;
      height: 295px;
      width: 100%;
    }

    &-img2 {
      background-image: url("../../assets/images/home-card2.png");
      background-size: cover;
      height: 295px;
      width: 100%;
    }

    &-img3 {
      background-image: url("../../assets/images/home-card3.png");
      background-size: cover;
      height: 295px;
      width: 100%;
    }

    &-text {
      color: $evee-black;
      padding-left: 39px;
      padding-right: 39px;
      padding-bottom: 40px;

      &--bold {
        @include body-bold;
        color: $evee-black;
        padding-left: 39px;
        padding-right: 39px;
        padding-top: 26px;
      }
    }

    &-breadcrumbs {
      width: 80%;
      align-self: center;

      &--container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding-bottom: 96px;
      }

      &--text {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 83%;
      }
    }
  }

  &__down {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 50px;
    margin-right: 204px;
    &-img {
      width: 61px;
      height: 28px;
    }
  }

  &__button {
    height: 96px;
    font-size: 20px;
    width: 180px;
    border-radius: 20px;
    background-color: $evee-blue;
    color: white;
    padding-left: 16px;
    padding-right: 16px;
    border: none;
  }

  &__socials {
    padding-top: 150px;
    padding-bottom: 80px;
  }
}
