.car {
  &__card {
    padding-top: 40px;
    color: white;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    width: 300px;
    height: auto;
    font-weight: 400;
    border-top: 3px solid transparent;

    &:hover {
      border-top: 3px solid #2172fc;
    }
    // padding: 0 28px 0 28px;

    &--middle {
      margin: 0 56px;
    }
  }

  &__price {
    display: flex;
    justify-content: flex-end;
    color: inherit;
  }

  &__price-text {
    font-size: 36px;
    color: inherit;
  }

  &__info {
    padding: 0 12px;
    // &:hover {
    //   color: black;
    // }
  }

  &__title {
    padding-top: 0;
  }

  &__image-container {
    object-fit: contain;
  }

  &__image {
    height: 200px;
    width: 300px;
    object-fit: cover;
  }

  &__button-container {
    align-self: center;
  }

  &__fuel-cost-container {
    padding-bottom: 80px;
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "poppins";
    font-size: 28px;
    background-color: #d3d9fd;
    width: 172px;
    height: 60px;
    border: none;
    border-radius: 20px;
    padding: 10px 16px;
    cursor: pointer;
  }
}
